body img.grayscale-detect {
  border-color: red;
  border-style: dashed;
  border-width: 1px;
}

body img.colored-up {
  border-color: #51ef1e;
  border-style: dashed;
  border-width: 1px;
}

button.bw-button {
  background-color: #2d54b3;
  margin: 3px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button.bw-button:hover {
  cursor: pointer;
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #bw-color-note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #bw-complete-note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #bw-color-detect {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

#bw-complete-note {
  display: none;
  position: fixed;
  z-index: 1000001;
  top: 0;
  left: 0;
  right: 0;
  background: #51ef1e;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

#bw-color-detect {
  display: none;
  position: fixed;
  z-index: 1000001;
  top: 0;
  left: 0;
  right: 0;
  background: #284b89;
  color: white;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

#bw-color-note {
  display: none;
  position: fixed;
  z-index: 1000001;
  top: 0;
  left: 0;
  right: 0;
  background: yellow;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}
