body img.grayscale-detect {
  border-color: red;
  border-style: dashed;
  border-width: 3px;
}

button.bw-button {
  background-color: #2d54b3;
  margin: 3px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button.bw-button:hover {
  cursor: pointer;
}
