body, html {
  height: 100%;
  width: 100%;
}

#imgDisplay img{
  height: 100%;
  width: 50%;
  margin-left: 25%;
}

#head_display img {
  height: 50%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 4%;
}

#imgDisplay {
  height: 10%;
}

#compareBox > div:nth-child(even) {
  background-color: lightgray;
}

#compareBox > div {
  margin-top: 1px;
  border: solid;
  border-spacing: inherit;
}

#compareBox > div {
  font-size: 15px;
}

.descriptor {
  font-weight: bold;
}

.itemContentSeparator {
  border-left: dashed 2px;
}

.itemContentSeparator ul {
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
}

.itemContentSeparator li:nth-child(even) {
  background-color: lightgray;
  margin: 5% 0% 5% 0%;
}
