#display {
  width: 400px;
}

.cls_btn {
  padding: 0% 1% 0% 1%;
  border-radius: 50%;
  border-width: 1px;
  background-color: red;
  color: white;
}

.cls_btn:hover {
  cursor: pointer;
  padding: 0% 1% 0% 1%;
  border-radius: 50%;
  border-width: 1px;
  background-color: black;
  color: white;
}

li {
  padding: 10px;
}
